/* common styles */
.flex{
    display: flex;
}
.dark-light{
    color: #8987A1;
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 150px;
}
.nav-list{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}
.nav-list li{
    list-style-type: none;
}
.without-cart{
    gap: 50px;
}
.icon{
    display: flex;
    gap: 10px;
}

/* second section */
.second-part{
    display: flex;
    justify-content: space-between;
    margin: 120px 150px ;
    align-items: center;
    
}
.red-text{
    color: #E95A08;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    width: 517px;
}
.sub-title{
    max-width: 570px;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.image{
    width: 100%;
    height: auto;
}
/* responsive section */
@media screen and (max-width:576px) {
   .without-cart{
    display: none;
   }
   .navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 13px;
    margin-bottom: 28px;
   }
   .icon-text{
    display: flex;
   }
   .second-part{
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
   }
   .image{
    max-width: 100%;
   }
}